/**
 * Typography & Text styles
 */

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%;
}

table, th, td {
  
  table-layout: fixed;
  padding: 8px;
  border: 1px solid white;
  border-collapse: collapse;
  word-break: break-line;
  
} 

body {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
}

.card {
  /* Add shadows to create the "card" effect */
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
  padding: 1.5rem 1.5rem 0.2rem 1.5rem;
  margin-bottom: 1.5rem;
}

.card-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-location {
  font-style: italic;
  color: #777;
}

.card-description {
  margin-left: 0rem;
}

.card-title a {
  text-decoration: none;
}
.card-title a:hover {
  text-decoration: underline;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  transition:0.19s;
}

.card:active {
  background-color: #f9f9f9;  
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.8);
  transition:0s;
}

a:visited {
  color:purple;
}

/* Add some padding inside the card container */
.container {
  padding: 4px 16px;

}
/**
 * Links
 */
a {
  font-weight: normal;
  text-decoration: none; 
  color:#2c44fa;
}
a:focus {
  outline: thin dotted;
}
a:hover {
  text-decoration: underline;
}


small {
  font-size: 75%;
}

/**
 * Headings
 */
h1,
h2 {
  font-family: 'Lato', sans-serif;
},
h1, 
h2
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  text-align: center;
}
h1 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h2 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.4rem; line-height: 1.6;  letter-spacing: 0; }


/**
 * Paragraphs
 */
p {
  margin: 0 auto 1.5rem auto; /* bottom margin for paragraphs */
}
/* p + p {

} */

/**
 * Quotes & Blockquotes
 */
q {
  quotes: '\00201C' '\00201D';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

blockquote {
  /*background-color: #F8F8F8;*/
  border-left: 2px solid #AFC0D2;
  margin: 1.6em 10%;
  padding: .75em 1em;
  font-size:1.8rem;
}
blockquote p:last-child {
  margin-bottom: 0;  
}

/**
 * Layout styles
 */

/* Full size background image */
html, #container, .inner { background-color:transparent;}
html {

}

body {
  max-width:1400px;
  margin:25px auto;
  background: linear-gradient(-45deg, #5fccf9, #fff4fc,#f08af5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 header, footer { 
  padding:25px;
} 


#content {
  padding:50px; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

/* Menu Links */
ul.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  padding-bottom: 15px;
}
ul.main-menu li a {
  margin-right:20px;
  font-size:2.0rem;
  border-bottom: solid transparent 3px;
  color:#6c6c6c;
}
ul.main-menu li a:hover {
  color:#000000;
}
ul.main-menu li a.active {
  color:#2e2e2e;
  border-bottom-color:#81a8e6;
}

/* Utility classes */
.hide {
  display:none;
}
.show {
  display:block;
}

/* Image stuff */ 
.imageflex { display: flex; }
.imageflexcontent { margin-left: 10px; margin-top: 0; }
